### Measuring Investment Risk - TATAMOTORS, ICICIBANK

In [1]:
import numpy as np
import pandas as pd
import nsepy as nse
import matplotlib.pyplot as plt

In [2]:
from nsepy import get_history
from datetime import date

In [5]:
tickers = ['TATAMOTORS', 'ICICIBANK']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = nse.get_history(t, index = False, start = date(2018, 1, 1), end = date(2023, 3, 23))['Close']

In [6]:
sec_data

            TATAMOTORS  ICICIBANK
Date
2018-01-01      424.45     310.30
2018-01-02      439.30     309.70
2018-01-03      433.90     315.00
2018-01-04      429.95     314.70
2018-01-05      431.60     312.90
...                ...        ...
2023-03-17      419.00     836.25
2023-03-20      410.75     836.45
2023-03-21      412.55     852.40
2023-03-22      416.10     860.20
2023-03-23      419.15     855.45

[1296 rows x 2 columns]

In [7]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

            TATAMOTORS  ICICIBANK
Date
2018-01-01         NaN        NaN
2018-01-02    0.034388  -0.001935
2018-01-03   -0.012368   0.016969
2018-01-04   -0.009145  -0.000953
2018-01-05    0.003830  -0.005736
...                ...        ...
2023-03-17    0.007907   0.014878
2023-03-20   -0.019886   0.000239
2023-03-21    0.004373   0.018889
2023-03-22    0.008568   0.009109
2023-03-23    0.007303  -0.005537

[1296 rows x 2 columns]

In [8]:
sec_returns[['TATAMOTORS', 'ICICIBANK']].mean() * 250

TATAMOTORS   -0.002426
ICICIBANK     0.195770
dtype: float64

In [9]:
sec_returns[['TATAMOTORS', 'ICICIBANK']].std() * 250**0.5

TATAMOTORS    0.479412
ICICIBANK     0.344909
dtype: float64

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

In [11]:
sec_returns[['TATAMOTORS', 'ICICIBANK']].var()

TATAMOTORS    0.000919
ICICIBANK     0.000476
dtype: float64

In [12]:
sec_returns[['TATAMOTORS', 'ICICIBANK']].var()*250

TATAMOTORS    0.229836
ICICIBANK     0.118962
dtype: float64

### Covariance matrix:

In [13]:
cov_matrix = sec_returns.cov()
cov_matrix

            TATAMOTORS  ICICIBANK
TATAMOTORS    0.000919   0.000269
ICICIBANK     0.000269   0.000476

In [14]:
cov_matrix = sec_returns.cov()*250
cov_matrix

            TATAMOTORS  ICICIBANK
TATAMOTORS    0.229836   0.067238
ICICIBANK     0.067238   0.118962

### Correlation matrix:

In [15]:
corr_matrix = sec_returns.corr()
corr_matrix

            TATAMOTORS  ICICIBANK
TATAMOTORS    1.000000   0.406629
ICICIBANK     0.406629   1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [17]:
weights = np.array([0.50, 0.50])

Portfolio Variance:

In [18]:
portfolio_var = np.dot(weights.T, np.dot(sec_returns.cov()*250,weights))
portfolio_var

0.12081833632323098

Portfolio Volatility:

In [19]:
portfolio_vol = np.dot(weights.T, np.dot(sec_returns.cov()*250,weights))**0.5
portfolio_vol

0.3475893213596053

In [20]:
print (str(round(portfolio_vol, 5) * 100) + '%')

34.759%

### Diversifiable Risk

In [22]:
TATAMOTORS_var = sec_returns['TATAMOTORS'].var()*250
TATAMOTORS_var

0.22983590230128192

In [23]:
ICICIBANK_var = sec_returns['ICICIBANK'].var()*250
ICICIBANK_var

0.11896220994159702

In [24]:
dr = portfolio_var - (weights[0]**2 * TATAMOTORS_var) - (weights[1]**2 * ICICIBANK_var)
dr

0.03361880826251125

In [25]:
print (str(round(dr*100, 3)) + '%')

3.362%

### Non Diversifiable

In [26]:
n_dr_1 = portfolio_var - dr
n_dr_1

0.08719952806071973

In [27]:
n_dr_2 = (weights[0]**2 * TATAMOTORS_var) + (weights[1]**2 * ICICIBANK_var)
n_dr_2

0.08719952806071973

In [28]:
n_dr_1 == n_dr_2

True